:root {
  --color-modifier-idle: #0064dc;
  --color-modifier-low: #00b4b4;
  --color-modifier-building: #fad200;
  --color-modifier-surge: #ff7800;
  --color-modifier-peak: #e61e50;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #080c10;
}
